spring:
  threads:
    virtual:
      enabled: true
  application:
    name: url-shortener
  data:
    mongodb:
      uri: mongodb://mongo:27017/shortener_db
    redis:
      host: redis
      port: 6379
server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0 # 개발 환경이므로 100% 샘플링. 상용은 0.1~0.5
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL:http://localhost:9411}/api/v2/spans
